
/*Colors*/
$color-black:#000;
$color-white:#fff;
$color-snowWhite:#fffafa;
$color-grey:#777;

/*Allows for easy changing of the CSS grid's max width, vertical margin. and horizontal margin*/
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-horizontal: 6rem;