.btn{

    &:link,
    &:visited{
        border-radius: .8rem;
        display: inline-block;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: .1rem;
        padding: .4rem 1rem;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s;
    }

    &:hover{
        box-shadow: 0 .5rem 2rem rgba($color-black, .4);
        transform: translateY(-.4rem);
        &::after{
            transform: scale(1.1) scale(1.2);
            opacity: 0;
        }
    }

    &:active{
        box-shadow: 0 .2rem 1rem rgba($color-black, .4);
        transform: translateY(-.3rem);
    }

    &::after{
        border-radius: .8rem;
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%; /*Height and Widths of 100% should be changed to become a SCSS mixen.*/
        position: absolute;
        top:0;
        left:0; /*Another instance of top & left to be changed in the future*/
        transition: all .5s;
    }

    &--blue{
        background-color: #3393ce;
        color: $color-white;

        &::after{
            background-color: #3393ce;
            z-index: -1;
        }
    }

    &--orange{
        background-color: #fa8231;
        color: $color-white;

        &::after{
            background-color: #fa8231;
            z-index: -1;
        }
    }
}